<h2>商品登録</h2>

<%= form_with model: @product, url: admin_product_create_path, local: true do |f| %>
  <div>
    <%= f.label :name, "商品名" %>
    <%= f.text_field :name, required: true %>
  </div>

  <div>
    <%= f.label :price, "価格" %>
    <%= f.number_field :price, step: 0.01, required: true %>
  </div>

  <div>
    <%= f.label :stock_quantity, "在庫数" %>
    <%= f.number_field :stock_quantity, min: 0, required: true %>
  </div>

  <div>
    <%= f.submit "商品登録" %>
  </div>
<% end %>

<nav>
  <%= link_to '管理画面へ戻る', admin_dashboard_path %>
</nav>
