<h1>管理画面</h1>
<hr>


<h2>商品登録</h2>

<%= form_with model: @product, url: admin_dashboard_create_path, local: true, scope: :product do |f| %>
  <table>
    <thead>
      <tr>
        <th><%= f.label :name, "商品名" %></th>
        <th><%= f.label :price, "価格" %></th>
        <th><%= f.label :stock_quantity, "在庫数" %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= f.text_field :name, value: '商品D', required: true %></td>
        <td><%= f.number_field :price, step: 1, min: 0, value: 1000, required: true %></td>
        <td><%= f.number_field :stock_quantity, min: 0, value: 123, required: true %></td>
        <td><%= f.submit "商品登録" %></td>
      </tr>
    </tbody>
  </table>
<% end %>

<br>
<hr>
<h2>商品一覧</h2>

<% if @products.present? %>
  <table>
    <thead>
      <tr>
        <th>商品名</th>
        <th>価格</th>
        <th>在庫数</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.price %></td>
          <td><%= product.stock_quantity %></td>
          <td>
            <%= link_to "削除", admin_dashboard_destroy_path(product.id), method: :delete, data: { turbo_method: :delete } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h2>まだ商品がありません</h2>
<% end %>

<br><br>
<hr>

<h2>注文管理</h2>
<% if @orders.present? %>
  <table>
    <thead>
      <tr>
        <th>注文者</th>
        <th>合計金額</th>
        <th>注文日</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.customer_name %></td>
          <td><%= order.order_items.sum { |item| item.quantity * item.price } %>円</td>
          <td><%= order.created_at.strftime("%Y/%m/%d %H:%M") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h3>まだ注文はありません。</h3>
<% end %>

<nav>
  <%= link_to "トップページへ戻る", root_path %>
</nav>
