<!DOCTYPE html>
<html>
  <head>
    <title>InventorySalesApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <br>
    <br>
    <hr>
    <nav>
      <% if logged_in? %>
        <p>ログイン中: <%= current_user.email %></p>
        <%= button_to 'ログアウト', admin_logout_path, method: :delete, form_class: "inline" %>
      <% else %>
        <%= link_to 'ログイン', admin_login_path %>
      <% end %>
    </nav>
  </body>
</html>
